input {
    width: 60%;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid black;
    background-color: Yellow;
    padding: 10px 30px;

}
button {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    height: 10%;
    width: 20%;
}

